/* html5 css file, Peter Lubbers, Kaazing */

body {
    background-color: #cccccc;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    max-width: 900px;
    border: solid;
    border-color: #ffffff;
}

header {
    background-color: #f47d31;
    display: block;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 72px;
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 0px;
    text-align: left;
}

h3 {
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

h4 {
    color: #f47d31;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 20px #888;
    -webkit-transform: rotate(-45deg);
    position: absolute;
    padding: 0px 150px;
    top: 50px;
    left: -120px;
    text-align: center;
}

header h2 {
    margin: 0px;
}

nav {
    display: block;
    width: 25%;
    float: left;
}

nav a:link,
nav a:visited {
    display: block;
    border-bottom: 3px solid #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

nav a:hover {
    color: white;
    background-color: #f47d31;
}

nav h3 {
    margin: 15px;
    color: white;
}

#container {
    background-color: #888;
}

section {
    display: block;
    width: 90%;
    float: left;
}

article {
    background-color: #eee;
    display: block;
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

article h2 {
}

aside {
    display: block;
    width: 25%;
    float: left;
}

footer {
    clear: both;
    display: block;
    background-color: #f47d31;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

#status {
    border-radius: 10px;
    border: solid 2px #f47d31;
    padding: 5px;
}

#status p:hover {
    color: white;
    background-color: #f47d31;
}

#map {
    margin: 5px;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

/* links */
a {
    color: #f47d31;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100px;
}
